{% load bootstrap3 %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% bootstrap_css %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/base.css' %}" />
    <title>My portfolio</title>
    {% block head_content %}
    {% endblock head_content %}
</head>

<body>
<a class="no-decor" href="{% url 'index' %}">
    <nav class="navbar navbar-default">
        <div class="container nav-container">
            <div class="my-navbar">
                <img class="my-photo" alt="main photo" src="{% static 'img/me.jpg' %}">
            </div>

           <div class="my-navbar">
                <h4 class="mx-4 no-decor">all projects</h4>
           </div>
        </div>

    </nav>
</a>
{% block base_content %}
{% endblock base_content%}
<div class="panel-footer">
    <div class="container">
        you can contact me via email: <a href="mailto:anevolina@pm.me">anevolina@pm.me</a>
    </div>
</div>

</body>