{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block head_content %}
{% endblock head_content %}

{% block base_content %}
<div class="container description">
    <h4>
        {{ project.title }}
        {% if project.source_url != '-' %}
        <span class="mx-4 gray-color">|</span>
        <a target="_blank" href="{{project.source_url}}">
            <i class="fab fa-github black-color"></i>
        </a>
        {% endif %}
    </h4>
    <p> {{ project.description }}</p>
    <hr/>

</div>
    {% block project_content%}
    {% endblock project_content%}

    <script src="https://kit.fontawesome.com/6745ae2bbd.js" crossorigin="anonymous"></script>

{% endblock base_content%}