{% extends 'project.html'%}
{% load bootstrap3 %}
{% load static %}


{% block head_content %}

    <link rel="stylesheet" type = "text/css" href="{% static 'css/converter.css' %}" />

{% endblock head_content %}

{% block project_content%}

    <div class="container">
        <div>
            <form name="sourceForm" action="{% url 'project_details' project.pk %}" method = POST>
                {% csrf_token %}

                <div class="row main-container">
                    <div class="col-md-6 col-sm-6 col-xs-12 my-column">
                        <h4 class="col-header">Imperial(American)</h4>
                                {% bootstrap_form form %}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 my-column right-column">
                         <h4 class="col-header">Metric</h4>
                            <div style="margin-top: 0.5rem">
                                {{translation|linebreaks}}
                            </div>

                    </div>
                 </div>
                <div class="row">
                    <div class="form-check form-check-inline col-md-6 col-sm-6 col-xs-12">
                      <input class="form-check-input" type="radio" name="to_translate" id="inlineRadio1" value="EN" {% if En %} checked{% endif %}>
                      <label class="form-check-label" for="inlineRadio1">remain in English</label>
                    </div>
                    <div class="form-check form-check-inline col-md-6 col-sm-6 col-xs-12">
                      <input class="form-check-input" type="radio" name="to_translate" id="inlineRadio2" value="RU" {% if not En %} checked{% endif %}>
                      <label class="form-check-label" for="inlineRadio2">translate to Russian</label>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                                <button class="btn btn-primary btn-block my-btn" type="submit">convert</button>
                        </div>

                    </div>
                <div>
                    <p class="my-3">
                        ...and for your convenience, I uploaded a few recipes to show how it works.
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block my-btn" name="ex" value="1" type="submit">#1 example</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block my-btn" name="ex" value="2" type="submit">#2 example</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block my-btn" name="ex" value="3" type="submit">#3 example</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block my-btn" name="ex" value="4" type="submit">#4 example</button>
                        </div>

                    </div>
                </div>
        </form>

    </div>
    </div>

{% bootstrap_javascript %}
 <script>
    function attachSubmitByPaste() {
        const textarea = document.getElementById('id_recipe');
        textarea.addEventListener('paste', function() {
            // let's wait for the value updated in textarea first
            setTimeout(() => {
                document.sourceForm.submit();
            }, 0);

        })
    }
    
    function getExample(msg = `{{recipe}}`) {

        document.getElementById("id_recipe").value = msg;
    }

    attachSubmitByPaste();
    getExample()
 </script>

{% endblock project_content%}