{% extends 'project.html'%}

{% load static %}


{% block head_content %}


{% endblock head_content %}

{% block project_content%}
<div class="container">
    <p style="margin-bottom: 2rem;">
        This project implemented as a telegram bot at
        <a class="my-a" target="_blank" href="https://telegram.me/KillZavtramanBot">
            <i class="fab fa-telegram mx-2"></i>KillZavtramanBot</a>
         and devoted to the self-development course
        <a class="my-a" target="_blank" href="https://vk.com/killzavtraman">

            <i class="fab fa-vk mx-2"></i>with the same name</a>.
    </p>
    <p>
        And a quick video about how it works:
    </p>

    <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/83eYbIO2pYM?mute=1&color=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


{% endblock project_content%}

