{% extends 'project.html'%}

{% load static %}


{% block head_content %}


{% endblock head_content %}

{% block project_content%}
<div class="container">
    <p class="my-2">
        This project implemented as a telegram bot at
        <a class="my-a" target="_blank" href="https://telegram.me/WordsGameAnaBot">
            <i class="fab fa-telegram mx-2"></i>WordsGameAnaBot</a>.
        And this is a quick video about how it works.
    </p>

    <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xmx0REsUmXY?mute=1&color=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock project_content%}

